<h2 mat-dialog-title>Actualizar datos de: Hola</h2>
<mat-dialog-content class="mat-typography">
  <form class="grid grid-cols-2 md:grid-cols-1 gap-4" [formGroup]="formGroup">
  
    <mat-form-field class="col-span-2 ">
      <mat-label><mat-icon>alternate_email</mat-icon> Correo</mat-label> 
      <input matInput type="email" formControlName="email"/>
      @if(emailInput.hasError('required')) {
        <mat-error>Debes ingresar tu un correo</mat-error>
      }
      @if(!emailInput.hasError('required') && emailInput.hasError('email')) {
        <mat-error>Debes ingresar un correo válido</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="col-span-2 mb-6">
      <mat-label><mat-icon>home</mat-icon>Dirección</mat-label>
      <input matInput type="text" formControlName="direccion"/>
      @if(direccionInput.hasError('required')) {
        <mat-error>Debes ingresar una dirección</mat-error>
      }
      @if(!direccionInput.hasError('required') && direccionInput.hasError('validarEspaciosBlanco')) {
        <mat-error>La dirección no puede contener espacios en blanco al principio o al final</mat-error>
      }
      @if(!direccionInput.hasError('required') && direccionInput.hasError('validarEspaciosDobles')) {
        <mat-error>Las direcciones solo pueden contener letras, números, guiones bajos, puntos y ningún espacio doble</mat-error>
      }
      @if(!direccionInput.hasError('required') && direccionInput.hasError('validarEspaciosEntreCaracter')) {
        <mat-error>No puede haber espacios dobles en la dirección</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="col-span-2 mb-4">
      <mat-label><mat-icon>find_in_page</mat-icon>CURP</mat-label>
      <input matInput type="text" formControlName="curp"/>
      @if(curpInput.hasError('required')) {
        <mat-error>Debes ingresar un CURP válido</mat-error>
      }
      @if(!curpInput.hasError('required') && curpInput.hasError('validarCURP')) {
        <mat-error>El CURP no cumple con la estructura correcta</mat-error>
      }
      @if(!curpInput.hasError('required') && curpInput.hasError('validarEspaciosBlanco' || curpInput.hasError('validarEspaciosEntreCaracter'))) {
        <mat-error>El CURP no puede contener espacios en blanco</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="col-span-2 ">
      <mat-label><mat-icon>local_phone</mat-icon>Teléfono</mat-label>
      <input matInput type="number" formControlName="telefono"/>
      @if(telefonolInput.hasError('required')) {
        <mat-error>Debes ingresar un número de teléfono</mat-error>
      }
      @if(!telefonolInput.hasError('required') && telefonolInput.hasError('minlength')) {
        <mat-error>Debes ingresar al menos 10 caracteres</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="actualizarInventor()" [disabled]="disabled">Aceptar</button>
</mat-dialog-actions>
