<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-gray-200 p-8 rounded-lg shadow-md w-full max-w-lg relative">
        <!-- Botón de cierre -->
        <div class="absolute top-4 right-4">
            <button class="w-10 h-10 flex items-center justify-center rounded-full hover:bg-gray-300 transition-colors"
                mat-dialog-close>
                <mat-icon class="text-gray-800">close</mat-icon>
            </button>
        </div>

        <h2 class="text-2xl font-bold text-gray-800 text-center mb-6">Registrar Usuario</h2>
        <mat-divider class="bg-gray-300 mb-4"></mat-divider>

        <form [formGroup]="formGroup" class="grid grid-cols-2 md:grid-cols-1 gap-4 max-h-96 overflow-y-auto">
            <!-- Name -->
            <mat-form-field class="col-span-2">
                <mat-label>
                    <mat-icon class="text-gray-600">account_circle</mat-icon> Name
                </mat-label>
                <input matInput type="text" formControlName="name"
                    class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-400" />
                @if(nameInput.hasError('required')) {
                <mat-error class="text-red-500 text-sm mt-1">You must enter a name</mat-error>
                }
            </mat-form-field>

            <!-- Last name -->
            <mat-form-field class="col-span-2">
                <mat-label>
                    <mat-icon class="text-gray-600">account_circle</mat-icon> Last name
                </mat-label>
                <input matInput type="text" formControlName="last_name"
                    class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-400" />
                @if(last_nameInput.hasError('required')) {
                <mat-error class="text-red-500 text-sm mt-1">You must enter a last name</mat-error>
                }
            </mat-form-field>

            <!-- Type user -->
            <mat-form-field>
                <mat-label>
                    <mat-icon class="text-gray-600">account_circle</mat-icon> Type user
                </mat-label>
                <mat-select formControlName="type_user" class="w-full">
                    <mat-option value="Student">Student</mat-option>
                    <mat-option value="Teacher">Teacher</mat-option>
                    <mat-option value="Secretary">Secretary</mat-option>
                    <mat-option value="Laboratory">Laboratory</mat-option>
                    <mat-option value="Executive">Executive</mat-option>
                    <mat-option value="Administrative">Administrative</mat-option>
                </mat-select>
                @if(type_userInput.hasError('required')) {
                <mat-error class="text-red-500 text-sm mt-1">You must enter a type user</mat-error>
                }
            </mat-form-field>

            <!-- User name -->
            <mat-form-field class="col-span-2">
                <mat-label>
                    <mat-icon class="text-gray-600">account_circle</mat-icon> User name
                </mat-label>
                <input matInput type="text" formControlName="user_name"
                    class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-400" />
                @if(user_nameInput.hasError('required')) {
                <mat-error class="text-red-500 text-sm mt-1">You must enter a user name</mat-error>
                }
            </mat-form-field>

            <!-- Email -->
            <mat-form-field class="col-span-2">
                <mat-label>
                    <mat-icon class="text-gray-600">account_circle</mat-icon> Email
                </mat-label>
                <input matInput type="text" formControlName="email"
                    class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-400" />
                @if(emailInput.hasError('required')) {
                <mat-error class="text-red-500 text-sm mt-1">You must enter an email</mat-error>
                }
            </mat-form-field>

            <!-- Contraseña -->
            <mat-form-field class="col-span-2">
                <mat-label>
                    <mat-icon class="text-gray-600">https</mat-icon> Contraseña
                </mat-label>
                <input matInput [type]="(hidePassword | async) ? 'password' : 'text'" formControlName="password"
                    (input)="onInput($event)"
                    class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-400" />
                <a class="mr-2" mat-icon-button matSuffix (click)="togglePasswordVisibility($event)"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword | async">
                    <mat-icon class="text-gray-600">{{(hidePassword | async) ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                </a>
                @if(passwordInput.hasError('required')) {
                <mat-error class="text-red-500 text-sm mt-1">You must enter a password</mat-error>
                }
            </mat-form-field>

            <!-- Phone number -->
            <mat-form-field class="col-span-2">
                <mat-label>
                    <mat-icon class="text-gray-600">account_circle</mat-icon> Phone number
                </mat-label>
                <input matInput type="text" formControlName="phone_number"
                    class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-400" />
                @if(phone_numberInput.hasError('required')) {
                <mat-error class="text-red-500 text-sm mt-1">You must enter a phone number</mat-error>
                }
            </mat-form-field>

            <!-- Status -->
            <mat-form-field>
                <mat-label>
                    <mat-icon class="text-gray-600">account_circle</mat-icon> Status
                </mat-label>
                <mat-select formControlName="status" class="w-full">
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                    <mat-option value="Blocked">Blocked</mat-option>
                    <mat-option value="Suspended">Suspended</mat-option>
                </mat-select>
                @if(statusInput.hasError('required')) {
                <mat-error class="text-red-500 text-sm mt-1">You must enter a status</mat-error>
                }
            </mat-form-field>
        </form>

        <mat-divider class="bg-gray-300 my-4"></mat-divider>

        <div class="flex justify-center">
            <button mat-raised-button mat-dialog-close (click)="newUser()" [disabled]="disabled" color="primary"
                class="w-full bg-gray-700 text-white py-2 rounded hover:bg-gray-600 transition-colors flex items-center justify-center">
                <mat-icon class="mr-1">add_box</mat-icon> Registrar
            </button>
        </div>
    </div>
</div>