<div class="">
  <div class="flex justify-center">
    <h2>Inventores por expediente</h2>
  </div>
  @if (inventores.length > 0) {
    @if (!loading) {
      <div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-2">
        @for (inventor of inventores; track inventor) {
          <div class="max mb-4 px-4 py-4 rounded-lg bg-custom h-auto">
            <div class="flex justify-center mb-2">
              <h2 class="text-xl font-bold text-gray-900">{{ inventor.noExpediente }}:</h2>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1 gap-4 px-4 py-4">
              @for (item of inventor.Inventores; track item) {
                <div class="rounded-lg">
                  <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>{{ item.nombreCompleto }}</mat-panel-title>
                        <div>
                          <mat-panel-description>
                            <mat-icon>account_circle</mat-icon>
                          </mat-panel-description>
                        </div>
                      </mat-expansion-panel-header>
                      <div>
                        <div class="flex gap-2 py-2">
                          <mat-icon>alternate_email</mat-icon><p>{{ item.correo }}</p>
                        </div>
                        <div class="flex gap-2 py-2">
                          <mat-icon>home</mat-icon><p>{{ item.direccion }}</p>
                        </div>
                        <div class="flex gap-2 py-2">
                          <mat-icon>find_in_page</mat-icon><p>{{ item.CURP }}</p>
                        </div>
                        <div class="flex gap-2 py-2">
                          <mat-icon>local_phone</mat-icon><p>{{ item.telefono }}</p>
                        </div>
                      </div>
                      <div [attr.inert]="dialog.openDialogs.length > 0 ? '' : null">
                        <button class="w-full text-white rounded-lg h-8 bg-custom" aria-label="Opciones" (click)="openDialog(item.idInventor)">
                          Editar
                        </button>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
    @if (loading) {
      <div class="flex justify-center">
        <app-spinner/>
      </div>
    }
  } @else {
    <div class="flex justify-center">
      <h2>Aún no hay inventores registrados</h2>
    </div>
  }
</div>
